body {
    background-color: #000;
}

.container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 13rem;
    border-radius: 25px;
    background-color: #fff;
    margin: auto;
    margin-bottom: 5rem;
    margin-top: 5rem;
    padding: 5rem;
    height: 20rem;
}

.header {
    background-color: red;
}

.inputs {
    background-color: aqua;

}

.select {
    background-color: violet;
}

.btn {
    background-color: blue;
}